/* .container {
    border: 8px solid black;
}
.row {
    border: 5px solid red;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
    border: 2px solid green;
} */

#header {
    background-color: orange;
    padding: 10px 0 10px 10px;
    color: blue;
    font-family: Georgia;
}

#menu {
    background-color: aquamarine;
    /* padding: 3px 10px  */
    font-family: 'Times New Roman';

}

#menu ul {
    list-style: none;
    margin: 15px;
}

#menu ul li {
    display: inline-block;
}

#content {
    background-color: whitesmoke
}

#sidebar {
    background-color: skyblue;
}

#footer {
    background-color: orange;
}

body {
    background-color: gray;
}